---
layout: default
title: Meet A Local and upskill while you travel
banner: /images/homepage/homepage-bg.jpg
---

<!--ABOUT BANNER SECTION  -->
<section class="about-banner-section">
  <h5>Imagine going to Bali and instead of just laying by the pool, you might be able to learn a new skill or upskill an existing one?</h5>
  <p>Learn with Locals allows you to meet likeminded people and learn something new and why not learn it from locals who know it best? Why not learn how to code that website you've always wanted or brush up on those photography skill? You might also get started with yoga like you've always wanted to try out, but never had the time to do?</p>
</section>

<!--FEATURED BANNER SECTION  -->
<section class="featured-banner-section">
  <h2>Featured Skills & Experiences</h2>

<!--FEATURE SKILL 1 -->
<div class="grid">
{% for upskill in site.upskills %}
    <a class="col-4" href="{{upskill.url}}">
      <div class="padded">
        <img src="{{ upskill.feature-image_path }}" alt=" {{ upskill.title }}">
        <h3> {{ upskill.title }}</h3>
        <p class="snippet"> {{ upskill.snippet }}</p>

        <p class="details">{{upskill.location}}</p>
        <p class="details"> {{ upskill.duration }} {{ upskill.host-name }} {{ upskill.price }}</p>
      </div>
    </a>
  {% endfor %}
</div>
</section>

<!-- TESTIMONIAL-SECTION -->
<section class="grid">
  <div class="col-4">
      <img src="/images/general/cindy.jpg" alt="cindy.jpg" class="testimonial-image">
      <h3 class="testimonial-section-headline">Cindy content strategist</h3>
    </div>
    <div class="col-1 quote right">"</div>
    <div class="col-6 testimonial-section">
      I've learned how to build my own websites and I met amazing people. Brooklyn sartorial hammock, seitan tousled etsy cray affogato yr health goth art party ennui photo booth direct trade bespoke.
    </div>
    <div class="col-1-bottom quote left">"</div>
    <div class="col-2">
    </div>
  </div>
</section>

<!-- CATEGORY SECTION -->
<section>
<h2>What do you want to learn?</h2>
<div class="grid">
<!-- CATEGORY 1 -->
{% for cat in site.categories %}
    <a class="col-3" href="{{cat.url}}">
      <div class="padded category-square" style="background-image:url('/images/categories/{{ cat.feature-image }}')">
        <h4> {{ cat.title }}</h4>
      </div>
    </a>
  {% endfor %}
</div>
</section>

<!-- SIGN UP SECTION -->
<section class="sign-up-section">
  <div>
    <h2>
      Want to offer your skills, meet people and make money?
    </h2>
    <input type="button" value="Sign up"/>
  </div>
</section>

<!-- BLOG SECTION -->
<section class="blog-section">
  <h2>
    Stories from the blog
  </h2>
  <!-- BLOG IMG 1 -->
  <div class="grid">
    {% for post in site.posts %}
    <a href="{{post.url}}" class="col-4">
    <img src="{{post.image_path}}" alt="{{post.image-alt}}">
    <h4>{{post.title}}</h4>
    <p>{{post.snippet}}</p>
  </a>
    {% endfor %}
  </div>
</section>
