<!DOCTYPE html>
<html>
  <head>
    <!--Responsive code  -->
    <meta name="viewport" content="width-device-width, initial-scale=1">

    <!-- Gridlex-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.2.5/gridlex.min.css">

    <!-- CSS Stylesheet-->
    <link rel="stylesheet" type="text/css" href="css/style.css" />
    <title>
      {{page.title}}
    </title>
  </head>
  <body>
    <!-- HEADER-->
    <header>
      <div>
        <img src="logo" alt="logo.png">
      </div>
      <nav>
        <a href="link">How it works</a>
        <a href="link">Sign up</a>
        <a href="link">About</a>
        <a href="link">Contact</a>
      </nav>
    </header>

    {{content}}
    <!-- FOOTER -->
    <footer>
    <div>
        <a href=“mailto:urisager@gmail.com”>urisager@gmail.com</a>
    </div>
      <nav>
        <a href="#">Facebook</a>
        <a href="#">Instagram</a>
        <a href="#">Linkedin</a>
      </nav>
    </footer>
  </body>
</html>
